@import '../../../../theme/palette';

.radio-panel {
  padding: 20px 20px 5px 20px;
  background-color: $winnr-theme-light-black;
  cursor: pointer;
  mat-radio-button {
    width: 100%;
    h3 {
      margin: 0;
      margin-left: 12px;
    }
  }
  .payment-subtitle {
    padding-left: 40px;
    margin-bottom: 6px;
    color: $winnr-theme-light-gray;
    font-size: 13px;
  }
}
