@import '../../../../theme/palette';
@import '../../../../theme/media-queries';

.fields {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .card {
    display: flex;
    flex: 1 0 40%;
    flex-direction: column;
    height: 230px;
    background-color: #212121; // unique to the card, not used elsewhere in the app
    margin: 10px;
    border-radius: 10px;
    .card-body {
      padding: 10px 20px;
      .card-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        #stripe-card-holder-name {
          width: calc(100% - 90px);
          background-color: transparent;
          color: $winnr-theme-font-color;
          border: none;
          border-bottom: 1px solid $winnr-theme-light-gray;
          line-height: 60px;
          font-weight: 300;
          font-size: 15px;
        }
        #stripe-card-holder-name::placeholder {
          color: $winnr-theme-light-gray;
        }
        #stripe-card-holder-name:focus {
          outline: none;
        }
        #stripe-card-expiry {
          width: 70px;
        }
      }
      .field {
        border-bottom: 1px solid $winnr-theme-light-gray;
      }
    }
  }
  .card-front {
    display: flex;
    padding-bottom: 30px;
    justify-content: flex-end;
    box-sizing: border-box;
  }
  .card-back {
    justify-content: space-evenly;
    .card-top-bar {
      background-color: #151515; // unique to the card, not used elsewhere in the app
      padding: 20px 5px;
    }
    .card-body {
      display: flex;
      justify-content: flex-end;
      #stripe-card-cvc {
        width: 30px;
        display: inline-block;
      }
    }
  }
}
.card-errors {
  padding: 10px;
  div {
    color: $winnr-theme-font-error-color;
    padding: 0 2px;
  }
}
